<a href="{% url 'home-page' %}">Home</a> |
<a href="{% url 'Games:home-page-games' %}">Games</a> |

<a href="{% url 'Games:lista-games' %}">Todos os jogos</a> |

{% if user.is_authenticated %}
    <a href="{% url 'Games:cria-games' %}">Criar Jogo</a> |
    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Sair</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Entrar</a> |
    <a href="{% url 'Reviews:signup' %}">Cadastrar</a>
{% endif %}
